h2 {
  font-size: 200%;
  background-color: ffffff;
}

h3 {
  font-size: 130%;
  color:     #ffffff;
  background-color: #525D76;
}

h4 {
  color:  #ffffff;
  background-color: #828DA6;
}

pre {
   background-color: efefef;
}

.code { 
   background: #EFEFEF; 
   margin-top: 
}

console { 
   color: #FFFFFF; 
   background: #837A67; 
}

